.task-text {
	text-align: left;
	height: 18px;
	margin-left: 20px;
	padding-left: 10px;
}
.task-finished {
	text-decoration: line-through;
}
.task-id {
	width: 20px;
	height: 18px;
	float: left;
	text-align: center;
	color: #27919d;
	font-weight: bold;
}
.task-container {
	width: inherit;
	height: 20px;
	margin: 3px auto;
	clear: both;
	overflow: hidden;
	text-align: center;
}
.task-checkbox {
	float: right;
}
